ul {
    list-style-type: none;
    padding-left: 0;
}

li,
input {
    margin-bottom: 1ex;
}

input {
    margin-left: .5ch;
}

label,
button {
    cursor: pointer;
}

.notification {
    background-color: #d3d3d3;
    color: #037a03;
    font-size: 1.25rem;
    font-weight: 500;
    border-style: solid;
    border-radius: .25rem;
    padding: .5rem;

    &.update {
        color: darkgoldenrod;
    }

    &.delete {
        color: orangered;
    }

    &.error {
        color: red;
    }
}